.container {
  display: flex;
  flex-direction: column;
}
.first_wrap {
  background-color: powderblue;
  padding-bottom: 120px;
}
.introduce {
  text-align: center;
  font-size: 3em;
  height: 3em;
  justify-self: center;
  margin-bottom: -20px;
}
.first {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.second_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.tarot_wrap {
  height: 500vh;
  background-color: purple;
}
