.container {
  display: flex;
  flex-direction: column;
}
.first_wrap {
  background: linear-gradient(lightCyan, skyBlue, deepSkyBlue);
  padding-bottom: 120px;
}
.introduce {
  text-align: center;
  font-size: 3em;
  height: 3em;
  justify-self: center;
  margin-bottom: -20px;
}
.first {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.second_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 60px;
}

.tarot_wrap {
  height: 500vh;
  background-color: purple;
}

@media screen and (max-width: 780px) {
  .first_wrap{
    margin-top: 3rem;
  }
}