.container {
  display: flex;
  flex-direction: column;
}
.first_wrap {
  background-color: powderblue;
  padding-bottom: 120px;
}
.introduce {
  text-align: center;
  font-size: 3em;
  height: 3em;
  justify-self: center;
}
.first {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.frame_wrap {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
.frame {
  position: sticky;
  position: -webkit-sticky;
  margin-left: auto;
  margin-right: auto;
  top: 30px; /* required */
  width: 90vw;
  max-width: 1200px;
  height: 70vh;
  border: 5px solid pink;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
