.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.navbar__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 8px 12px;
  margin: 0;
  font-family: Pushster;
}

.navbar__logo__main {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar__logo__sub {
  font-size: 0.4rem;
}

.navbar__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0px;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: lavenderblush;
  border-radius: 4px;
  cursor: pointer;
}

.navbar__toggleBtn {
  display: none;
}

.navbar__login {
  padding: 8px 12px;
}

@media screen and (max-width: 780px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    background: white;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
  }

  .navbar__logo {
    padding: 3px 0.7rem;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1.2rem;
  }

  .navbar__menu.show {
    z-index: 1;
    display: flex;
    background-color: rgb(255, 194, 204, 0.8);
  }
  .navbar__menu.hide {
    display: none;
  }


  .navbar__menu li {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
  
  .navbar__toggleBtn {
    display: flex;
    position: absolute;
    height: 100%;
    right: 1rem;
    padding: 8px 12px;
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
  }
  .navbar__toggleBtn
  .show {
    content: url(../../../public/close.svg);
  }
  .navbar__toggleBtn
  .hide {
    content: url(../../../public/menu.svg);
  }
  .navbar__login {
    padding-left: 0px;
  }
  

}