body {
  margin: 0;
  background-color: white;
  font-family: Jua;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  font-family: Jua;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  width: 100%;
}

.openModal {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
  overflow-y: scroll;
  width: 100%;
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*그라데이션 버튼*/
.btn-grad {
  background-image: linear-gradient(
    to right,
    #ff6e7f 0%,
    #bfe9ff 51%,
    #ff6e7f 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}
.border-grad:hover,
.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn-grad:hover {
  cursor: pointer;
}

.border-grad {
  border: 5px solid;
  border-image: linear-gradient(
    to right,
    #ff6e7f 0%,
    #bfe9ff 51%,
    #ff6e7f 100%
  );
  border-image-slice: 1;
}
