
.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: calc(100vh - 129px);
    background-color: rgba(255, 241, 243, 0.7);
}

.showbox {
    position: relative;
    display: flex;
    height: 80px;
    width: 200px;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.innerbox {
    height: 55px;
    width: 120px;
    border-radius: 80px 80px 0px 0px;
    background-color: rgb(255, 192, 203, 0.6);
}

.study, .drawing, .climbing, .coding{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    bottom: calc(0% - 10px);
    left: calc(50% - 15px);
}

.show,
.hide {
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: calc(0% + 5px);
    left: calc(50% - 20px);
    border: 5px solid pink;
}

.show {
    animation: show 1s linear forwards;
    animation-timing-function: step-end;
}

.hide {
    animation: hide 1s linear forwards;
}

.study {
    background:no-repeat url(../../../public/laptop.png) center rgb(118, 106, 219);
    background-size: 60%;
}
.drawing{
    background:no-repeat url(../../../public/pencil.png) center rgb(172, 117, 223);
    background-size: 60%;
}
.climbing{
    background:no-repeat url(../../../public/climbing.png) center rgb(233, 226, 106);
    background-size: 60%;
}
.coding{
    background:no-repeat url(../../../public/code.png) center rgb(117, 223, 147);
    background-size: 60%;
}

.circle1 {
    animation: circle1 1s linear forwards;
    -webkit-animation:  circle1 1s linear forwards;
    -moz-animation: circle1 1s linear forwards;
    -ms-animation: circle1 1s linear forwards;
    -o-animation: circle1 1s linear forwards;
}
.circle2 {
    animation: circle2 1s linear forwards ;
    -webkit-animation:  circle2 1s linear forwards;
    -moz-animation: circle2 1s linear forwards;
    -ms-animation: circle2 1s linear forwards;
    -o-animation: circle2 1s linear forwards;
}

.circle3 {
    animation: circle3 1s linear forwards ;
    -webkit-animation:  circle3 1s linear forwards;
    -moz-animation: circle3 1s linear forwards;
    -ms-animation: circle3 1s linear forwards;
    -o-animation: circle3 1s linear forwards;
}

.circle4 {
    animation: circle4 1s linear forwards ;
    -webkit-animation:  circle4 1s linear forwards;
    -moz-animation: circle4 1s linear forwards;
    -ms-animation: circle4 1s linear forwards;
    -o-animation: circle4 1s linear forwards;
}

@-webkit-keyframes circle1 {
    from { -webkit-transform: rotate(180deg) translateX(60px) rotate(-180deg); }
    to   { 
        -webkit-transform: rotate(270deg) translateX(40px) rotate(-270deg); 
        width: 40px;
        height: 40px;
    }
}

@-moz-keyframes circle1 {
    from { -moz-transform: rotate(180deg) translateX(60px) rotate(-180deg); }
    to   { 
        -moz-transform: rotate(270deg) translateX(40px) rotate(-270deg); 
        width: 40px;
        height: 40px;
    }
}

@-o-keyframes circle1 {
    from { -o-transform: rotate(180deg) translateX(60px) rotate(-180deg); }
    to   { 
        -o-transform: rotate(270deg) translateX(40px) rotate(-270deg); 
        width: 40px;
        height: 40px;
    }
}

@keyframes circle1 {
    from { transform: rotate(180deg) translateX(60px) rotate(-180deg);}
    to   { 
        transform: rotate(270deg) translateX(40px) rotate(-270deg);
        width: 40px;
        height: 40px;
    }
}

@-webkit-keyframes circle2 {
    from { 
        -webkit-transform: rotate(270deg) translateX(40px) rotate(-270deg); 
        width: 40px;
        height: 40px;
    }
    to   { 
        -webkit-transform: rotate(360deg) translateX(60px) rotate(-360deg);
        width: 30px;
        height: 30px;
    }
}

@-moz-keyframes circle2 {
    from { 
        -moz-transform: rotate(270deg) translateX(40px) rotate(-270deg);
        width: 40px;
        height: 40px;
    }
    to   { 
        -moz-transform: rotate(360deg) translateX(60px) rotate(-360deg);
        width: 30px;
        height: 30px;
    }
}

@-o-keyframes circle2 {
    from { 
        -o-transform: rotate(270deg) translateX(40px) rotate(-270deg); 
        width: 40px;
        height: 40px;
    }
    to   {
         -o-transform: rotate(360deg) translateX(60px) rotate(-360deg); 
        width: 30px;
        height: 30px;
    }
}

@keyframes circle2 {
    from { 
        transform: rotate(270deg) translateX(40px) rotate(-270deg);
        width: 40px;
        height: 40px;
    }
    to   { 
        transform: rotate(360deg) translateX(60px) rotate(-360deg);
        width: 30px;
        height: 30px;
    }
}

@-webkit-keyframes circle3 {
    from { -webkit-transform:rotate(0deg) translateX(60px) rotate(-0deg); }
    to   { -webkit-transform:rotate(90deg) translateX(50px) rotate(-90deg);}
}

@-moz-keyframes circle3 {
    from { -moz-transform:rotate(0deg) translateX(60px) rotate(-0deg);}
    to   { -moz-transform:rotate(90deg) translateX(50px) rotate(-90deg);}
}

@-o-keyframes circle3 {
    from { -o-transform: rotate(0deg) translateX(60px) rotate(-0deg);}
    to   { -o-transform: rotate(90deg) translateX(50px) rotate(-90deg); }
}

@keyframes circle3 {
    from { transform: rotate(0deg) translateX(60px) rotate(-0deg);}
    to   { transform: rotate(90deg) translateX(50px) rotate(-90deg);}
}

@-webkit-keyframes circle4 {
    from { -webkit-transform: rotate(90deg) translateX(50px) rotate(-90deg); }
    to   { -webkit-transform: rotate(180deg) translateX(60px) rotate(-180deg);}
}

@-moz-keyframes circle4 {
    from { -moz-transform: rotate(90deg) translateX(50px) rotate(-90deg);}
    to   { -moz-transform: rotate(180deg) translateX(60px) rotate(-180deg);}
}

@-o-keyframes circle4 {
    from { -o-transform: rotate(90deg) translateX(50px) rotate(-90deg);}
    to   { -o-transform: rotate(180deg) translateX(60px) rotate(-180deg);}
}

@keyframes circle4 {
    from { transform: rotate(90deg) translateX(50px) rotate(-90deg);}
    to   { transform: rotate(180deg) translateX(60px) rotate(-180deg);}
}

@keyframes show {
    from { opacity: 0; }
    to   { opacity: 100; }
}
@keyframes hide {
    from { opacity: 100; }
    to   { opacity: 0; }
}


