.container{
    display: flex;
    /* width: 100%; */
    padding: 20px;
    gap: 10px;
    background-color: pink;
    flex-direction: column;
    justify-content: center;
}

.button_wrap{
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 40px;
}

.msg_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

