.container{
    display: flex;
    padding: 20px;
    gap: 10px;
    background-color: pink;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button_wrap{
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 40px;
}

.msg_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.button_wrap .btn {
    width: 32px;
    height: 32px;
    background-size: cover;
}

.button_wrap :nth-child(1){
    background: url('/public/instagram.PNG');
}

.button_wrap :nth-child(2){
    background: url('/public/email.PNG');
}
.button_wrap :nth-child(3){
    background: url('/public/resume.PNG');
}